.InformationPanel {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;

  width: 50vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #118a7e;
  padding: 0.5rem;
  border-radius: 15px;
  border: 3px solid #93e4c1;
  color: white;
  transition: background-color 0.2s ease-in-out;
}

.InformationPanel:hover {
  background-color: #118a7ede;
}

.hide {
  display: none;
}

.InformationPanel h2 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.InformationPanel > .InfoSpalter {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.InfoSpalter > p {
  width: 50%;
  padding: 0.5rem;
  font-size: 14px;
}
