body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #1f6f78;
}

.App {
  display: flex;
  flex-direction: column;

  height: 100vh;
}

.SynthWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.SynthWrapper button {
  margin: 10px;
  padding: 0.5rem 1rem;
  background-color: #118a7e;
  border: 3px solid #93e4c1;
  border-radius: 8px;
  color: white;
}

.SynthWrapper button:hover {
  background-color: #118a7eaa;
  cursor: pointer;
}

.SynthWrapper .AddSynthButton {
  margin-top: 0;
}

.edit {
  cursor: col-resize;
}

.Toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  gap: 1rem;
  background-color: #118a7e;
  border-bottom: 3px solid #93e4c1;
}

.Toolbar h2 {
  color: white;
}
