@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

:root {
  --page-bg-color: #1f6f78;
  --element-bg-color: #118a7e;
  --element-border-color: #93e4c1;
  --synth-outer-color: #00000036;
  --toolbar-overlay-element-color: #1f6f7880;
  --toolbar-overlay-element-hover-color: #1e666e8c;
  --page-element-button-hover-color: #118a7eaa;
  --inner-element-bg-color: #1f6f78;
  --inner-element-hover-bg-color: #164f55;
}

* {
  font-family: "Quicksand", sans-serif;
}

body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: var(--page-bg-color);
}

.App {
  display: flex;
  flex-direction: column;

  height: 100vh;
}

.SynthWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.SynthWrapper button {
  margin: 10px;
  padding: 0.5rem 1rem;
  background-color: var(--element-bg-color);
  border: 3px solid var(--element-border-color);
  border-radius: 8px;
  color: white;
}

.SynthWrapper button:hover {
  background-color: var(--page-element-button-hover-color);
  cursor: pointer;
}

.SynthWrapper .AddSynthButton {
  margin-top: 0;
}

.edit {
  cursor: col-resize;
}

.Toolbar {
  display: grid;

  grid-template-columns: 1fr auto 1fr;
  align-items: center;

  background-color: var(--element-bg-color);
  border-bottom: 3px solid var(--element-border-color);
  margin-bottom: 0.6rem;
}

.Toolbar > button {
  grid-column: 3;
  justify-self: end;
  margin-right: 1rem;
}

.MainTools {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem;
  gap: 1rem;
  grid-column: 2;
}

.MainTools h2 {
  color: white;
}

.MainTools button:hover {
  opacity: 0.9;
  cursor: pointer;
}

#infobutton {
  background-color: var(--toolbar-overlay-element-color);
  border: none;
  height: 2.2rem;
  width: 2.2rem;
  text-align: center;
  border-radius: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.1s ease;
}

#infobutton:hover {
  cursor: pointer;
  background-color: var(--toolbar-overlay-element-hover-color);
}

.PlaybackWrapper {
  display: flex;
  gap: 0.3rem;
  background-color: var(--toolbar-overlay-element-color);
  padding: 0.5rem;
  border-radius: 1.1rem;
  transition: background-color 0.1s ease;
}

.PlaybackWrapper:hover {
  background-color: var(--toolbar-overlay-element-hover-color);
}

.PlaybackWrapper button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  text-align: center;
  color: white;
  border: none;
  border-radius: 0.6rem;
}

.PlayButton {
  background-color: #2ec471;
}

.StopButton {
  background-color: #d33434;
}

.Tempo {
  background-color: var(--toolbar-overlay-element-color);
  border: none;
  color: white;
  height: 2rem;
  width: 3rem;
  padding: 0.5rem;
  border-radius: 1.1rem;
  text-align: center;
  font-size: 1.2rem;
  transition: background-color 0.1s ease;
  appearance: textfield;
  -moz-appearance: textfield;
}

.Tempo::-webkit-outer-spin-button,
.Tempo::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.Tempo:hover {
  background-color: var(--toolbar-overlay-element-hover-color);
}

.Tempo:focus {
  outline: none;
  background-color: var(--toolbar-overlay-element-hover-color);
}
